<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Startup Database Page</h1>
<!--  <div>{{data}}</div> -->
<form method="POST" action="/add">

<p>Search for Startup by name: <input type="text" name="name"> <input type="submit" value="Add"></p>


<!--  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
-->

<table>
{% for item in data %}

<tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
</tr>


{% endfor %}

</table>
<p><a href="another">Go to the other page</a></p>

</form>

</body>


</html>
